.footer_section {
  background-image: url(../../Images/footer_bg.png);
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.footer_section::after {
  content: "";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(90deg, #673ab7 0%, #512da8 100%);
  opacity: 0.05;
  z-index: -1;
}
.footer_container {
  max-width: 1300px;
  margin: 0 auto;
}
.f_heading {
  text-align: center;
  margin-bottom: 20px;
}
.footer_header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #0a142f;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 0;
}
.footer_header {
  padding: 82px 0 50px 0;
  text-align: center;
}
.scarch {
  width: 500px;
  height: 54px;
  padding: 15px;
  border-radius: 5px;
  background-color: #512da800;
  border: 2px solid #512da820;
}
form {
  margin-top: 40px;
}
.subscribe_btn_text {
  color: #ffffff !important;
}
.scarch:focus-visible {
  outline: none;
}
.footer_manu_container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 35px 0;
  column-gap: 40px;
}

.footer_logo_para p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #191825;
  margin-bottom: 0;
  padding: 25px 0;
}
.footer_log_img {
  width: 50%;
}
.contact_us_container {
  padding: 35px;
  background: linear-gradient(90deg, #673ab7 0%, #512da8 100%);
  border-radius: 5px;
}
.contact_us_container h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}
.call_detaile {
  display: flex;
  column-gap: 15px;
}
.footer_logo {
  background: linear-gradient(90deg, #673ab7 0%, #512da8 100%);
  padding: 21px 22px;
  width: 50%;
}
.footer_address_icon {
  color: #ffffff;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.footer_address_details p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 0;
}
.footer_address_details h4 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}
.manu_left_manu ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.manu_right_manu ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.manu_left_contact_us {
  padding: 7px;
  background: #ffffff;
  box-shadow: 0px 7px 29px rgb(100 100 111 / 20%);
  border-radius: 5px;
}
.manu_left_manu {
  width: 50%;
}
.footer_nav_manu h4 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-transform: capitalize;
  color: #191825;
  position: relative;
  z-index: 1;
}
.footer_nav_manu::after {
  content: "";
  width: 25px;
  height: 3px;
  position: absolute;
  z-index: 9;
  background: linear-gradient(90deg, #673ab7 0%, #512da8 100%);
}
.footer_list li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #191825;
  padding: 15px 0 0 0;
}
.footer_social_icons {
  display: flex;
  column-gap: 5px;
}
.dashed_line {
  border: 1px dashed #512da8;
  opacity: 0.7;
}
.footer_term_condtion {
  display: flex;
  column-gap: 10px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.footer_bottom p {
  margin-bottom: 0;
}
.footer_bottom_hr {
  border: 1px dashed #512da8;
  opacity: 0.7;
  margin: 1rem 0 0 0;
}
.footer_icon_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.footer_middle {
  display: flex;
  column-gap: 140px;
}
.footer_card {
  width: 33.33%;
}

@media only screen and (max-width: 1300px) {
  .footer_container {
    padding: 0 20px;
  }
  .footer_header {
    padding: 40px 0 40px 0;
    text-align: center;
  }
}
@media only screen and (max-width: 1180px) {
  .footer_logo {
    width: 100%;
    padding: 10px 10px;
  }
  .footer_manu_container {
    column-gap: 50px;
  }
}
@media only screen and (max-width: 950px) {
  .footer_middle {
    column-gap: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .footer_manu_container {
    flex-direction: column;
    row-gap: 20px;
  }
  .footer_card {
    width: 100%;
  }
  .footer_logo {
    width: 40%;
  }
  .footer_middle {
    column-gap: 30px;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 540px) {
  .footer_header p {
    font-size: 12px;
    line-height: 20px;
  }
  form {
    margin-top: 20px;
  }
  .scarch {
    width: 100%;
    height: 45px;
  }
  .scarch_btn {
    display: flex;
    margin-top: 10px;
  }
  .footer_header {
    padding: 40px 0 0 0;
  }
  .footer_manu_container {
    padding: 25px 0 35px 0;
  }
  .footer_logo_para p {
    font-size: 12px;
    line-height: 20px;
    padding: 15px 0;
  }
  .footer_nav_manu h4 {
    font-size: 17px;
  }
  .footer_list li {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 0 0 0;
  }
  .contact_us_container {
    padding: 20px;
  }
  .contact_us_container h3 {
    font-size: 19px;
    line-height: 25px;
  }
  .footer_address_details p {
    font-size: 12px;
    line-height: 20px;
  }
  .footer_address_details h4 {
    font-size: 16px;
    line-height: 25px;
  }
}
